[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/nodeshift/hugo-coder.git
[submodule "public"]
	path = public
	url = git@github.com:nodeshift/nodeshift.github.io.git
	branch = master
